<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{plugin_path('Novalnet')}}/css/novalnetUi.css">
</head>
<body class="nn_redirect_page" style="overscroll-behavior:contain;">
<form method="post" name="novalnet_redirect_form" id="novalnet_redirect_form"  action="{{nnPaymentUrl}}">
    <div style="text-align:center;">{{ trans("Novalnet::PaymentMethod.novalnet_redirect_text") }}</div>
    <div class="loader"></div>
</form>
<script type="text/javascript">
   document.getElementById('novalnet_redirect_form').submit();
   window.oncontextmenu = function (e) {
    e.preventDefault(); 
   }
   document.addEventListener("keydown", keydownFunction);
   function keydownFunction(e) {
                if (e.which && e.keyCode == 116) {
                    e.preventDefault();
                }
                if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
                    e.preventDefault();
                }
                if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
                    e.preventDefault();
                }
                if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                    e.preventDefault();
                }
                if (e.ctrlKey && e.keyCode == 85) {
                    e.preventDefault();
                }
                if (e.keyCode == 123) {
                    e.preventDefault();
                }
                if (e.which && e.ctrlKey && e.keyCode == 82) {   
                    e.preventDefault();
                }
     }
</script>
</body>
</html>
