{# Set the post data and Load the JS #}
<input type="hidden" name="nn_paymentmethod_key" id="nn_paymentmethod_key" value="{{nnPaymentMethodKey}}">
<input type="hidden" name="nn_paymentmethod_id" id="nn_paymentmethod_id" value="{{nnPaymentMethodId}}">
<script type="text/javascript">
    jQuery(document).ready(function() {
        {# Define variables #}
        var nnPaymentMethodId = jQuery('#nn_paymentmethod_id').val();
        var nnPaymentMethodKey = jQuery('#nn_paymentmethod_key').val();

        {# Display the Novalnet ApplePay payment if it is IOS Device #}
        if(nnPaymentMethodKey == 'NOVALNET_APPLEPAY') {
           var iosDevicce = iOS();
           var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
           if(iosDevicce && isSafari) {
            jQuery('li[data-id="'+nnPaymentMethodId+'"]').show();
           } else {
            jQuery('li[data-id="'+nnPaymentMethodId+'"]').hide();
           }
        }

        {# Call the Direct payment methods #}
        jQuery("#nn_direct_payment_process").click(function () {
            jQuery.get("/payment/novalnet/directPaymentProcess/", function(data) {
                window.location = data;
            });
        });

        {# Call the form payment methods #}
        jQuery('#nn_form_payment_process').click(function() {
            jQuery("[id^='nnReinitPaymentMethod-']").hide();
            jQuery('#novalnetPaymentForm').show();
        });
        
        {# Call the redirect payment methods #}
        jQuery('#nn_redirect_payment_process').click(function() {
            $("#redirectPayment").submit();
        });

    });
function iOS() {
    return [
      'iPad Simulator',
      'iPhone Simulator',
      'iPod Simulator',
      'iPad',
      'iPhone',
      'iPod'
    ].includes(navigator.platform)
    // iPad on iOS 13 detection
    || (navigator.userAgent.includes("Mac") && "ontouchend" in document)
}
</script>

<form id="redirectPayment" method="post" action="{{redirectUrl}}">
<input type="hidden"  value="1" name="nnReinitiatePayment" id="nnReinitiatePayment">
<input type="hidden"  value="{{redirectUrl}}" name="nnRedirectPayment" id="nnRedirectPayment">
</form>
